//- Navbar mixins converted to Bootstrap 5 by John Sudds

mixin navbar(name)
    - var id = 'navbarCollapse'
    - var href = attributes.href || '/'
    - var style = attributes.style || 'light'
    - var bp = attributes.bp || 'lg'
    nav( class=['navbar', 'navbar-expand-' + bp, 'navbar-' + style, 'bg-' + style, attributes.class] )
        .container-fluid
            a.navbar-brand(href=href)= name
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#' + id, aria-controls=id, aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse(id=id)
                ul( class=['navbar-nav', 'me-auto', 'mb-2', 'mb-' + bp + '-0'])
                    block

mixin nav_item(href, active=false)
    if !active
        li.nav-item: a.nav-link( href=href ): block
    else
        li.nav-item: a.nav-link.active( href=href ): block

//- mixin nav_item_dropdown(href, active)
//-     li(class=ddstyle)
//-         a.dropdown-toggle( href=href, data-bs-toggle='dropdown' role='button' aria-expanded='false' )= attributes.label
//-             span.caret
//-         ul.dropdown-menu( role='menu' )
//-             block

//- mixin nav_divider
//-     li: hr.dropdown-divider

