extends _layout

mixin textInput(name, label, type='text')
  dd
    label(for=name)= label
  dt
    input(type=type, name=name, id=name, required)&attributes(attributes)

mixin baseUnits
  select(name='servingSizeUnits')
    option= Tbsp
    option= Cup
    option= Ounce
    option= Grams


block content
  h2= 'Add nutrition information'
  form(action='/nutrition' method='POST')
    dl
      +textInput('name', 'Name')
      +textInput('servingSize', 'Serving Size')
      +textInput('calories', 'Calories', 'number')(min='0' max='1000') calories
    input(type='submit' value='Add')