extends _layout

mixin baseUnits
  select(name='servingSizeUnits')
    option= Tbsp
    option= Cup
    option= Ounce
    option= Grams


block content
  include ./mixins/forms

  h2= 'Add nutrition information'
  form(action='/api/nutrition' method='POST')
    +input_block('text', 'name') Name
    +input_block('text', 'servingSize') Serving Size
    +input_block('number', 'calories') Calories
    //- dl
    //-   +textInput('name', 'Name')
    //-   +textInput('servingSize', 'Serving Size')
    //-   +textInput('calories', 'Calories', 'number')(min='0' max='1000') calories
    +submit()(class='me-3') Add
    +button()(class='btn-outline-secondary') Cancel